*~
*.swp
extract/*.iso
extract/track2.bin
extract/track2_orig.bin
extract/*.orig
reinsert/*.iso
reins_shoptalk/track2.bin
reinsert/track2.bin
reinsert/track2_orig.bin
reinsert/*.orig
tools/*.bin
tools/*.o

